@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.flip-card {
  position: relative;
  width: 350px;
  height: 250px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 7px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 7px;
}

.flip-card-front {
  background: url("https://i.ibb.co/jgpXMRF/small-bg.png") center repeat-x;
  background-size: auto 100%;
  background-position: 0%;
  -webkit-animation: move-bg-front 190000000s linear infinite normal;
          animation: move-bg-front 190000000s linear infinite normal;
  position: absolute;
}

.flip-card-back {
  background: url("https://i.ibb.co/q1zr0zb/night-bg.png") center repeat-x;
  background-size: auto 100%;
  background-position: -9999999999%;
  animation: move-bg-back 190000000s linear infinite reverse;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.rider {
  -webkit-animation: move-rider 0.2s linear infinite alternate;
          animation: move-rider 0.2s linear infinite alternate;
  position: absolute;
  bottom: 1%;
  left: 10%;
  height: 73px;
  width: 106px;
}

.van {
  -webkit-animation: move-van 0.5s linear infinite alternate;
          animation: move-van 0.5s linear infinite alternate;
  position: absolute;
  bottom: 2%;
  right: 10%;
  height: 50px;
  width: 114px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 10;
}

.vanlight {
  bottom: 6px;
  left: 99px;
  -webkit-transform: rotate(-18deg);
  transform: rotate(-11deg);
  z-index: 9;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 48px 0 78px;
  border-radius: 38%;
  border-color: #fffd86d3 transparent transparent transparent;
  position: absolute;
}

button {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: whitesmoke;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 150;
  margin: 1rem 2rem;
  right: 0;
  border: 1px solid #e2e2e2;
}

button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  z-index: 15000;
  -webkit-transform: translate(-120px, 340px);
          transform: translate(-120px, 340px);
}

footer svg#yassine {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-animation: color-loop 8s ease infinite alternate;
          animation: color-loop 8s ease infinite alternate;
}

@-webkit-keyframes move-bg-front {
  to {
    background-position: 9999999999%;
  }
}

@keyframes move-bg-front {
  to {
    background-position: 9999999999%;
  }
}

@-webkit-keyframes move-bg-back {
  to {
    background-position: 0;
  }
}

@keyframes move-bg-back {
  to {
    background-position: 0;
  }
}

@-webkit-keyframes move-rider {
  to {
    height: calc(73px - 4px);
    width: 106px;
    bottom: 1%;
  }
}

@keyframes move-rider {
  to {
    height: calc(73px - 4px);
    width: 106px;
    bottom: 1%;
  }
}

@-webkit-keyframes move-van {
  to {
    height: calc(50px - 4px);
    width: 114px;
    bottom: 2%;
  }
}

@keyframes move-van {
  to {
    height: calc(50px - 4px);
    width: 114px;
    bottom: 2%;
  }
}

@-webkit-keyframes color-loop {
  0% {
    stroke: red;
  }
  33% {
    stroke: #43c543;
  }
  66% {
    stroke: blue;
  }
  100% {
    stroke: purple;
  }
}

@keyframes color-loop {
  0% {
    stroke: red;
  }
  33% {
    stroke: #43c543;
  }
  66% {
    stroke: blue;
  }
  100% {
    stroke: purple;
  }
}
/*# sourceMappingURL=style.css.map */